body {
    background-image: url(/images/topBG.jpg);
    background-size: cover;
}

image {
    border: none;
}

.left {
    float: left;
}

.top {
}

.center {
}

.bottom {
    margin-top: 40%;
}

.tim {
    margin-top: 14%;
    margin-left: 9%;
}

.spot {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}
/*Buttom 样式*/
.svg-wrapper {
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
}
/*线条渐入*/
#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease
}

.text {
    margin-top: -33px;
    text-align: center
}

.text a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em
}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 2%;
    stroke-dashoffset: 0;
    stroke: #06D6A0
}